.
{
    margin: 0px;
    padding: 0px;
}
.main_div
{
     background-color: lightseagreen;
     
     display: flex;
     height:100vh ;
     height: 100vh;
     display: flex;
  
     
}
.center_div
{
    background-color:white;
    height: 450px;
    width: 350px;
    margin-left: 38%;
    margin-top: 5%;
    border-radius: 40px;
    justify-content: center;
    box-shadow: 1px 5px burlywood;
    
}
.center_div_text
{
     text-align: center;
     background-color: lightseagreen;

}
.center_div_text_input
{
    margin-left: 70px;
    height: 20px;
    border-radius: 5px;
}
.center_div_button
{

    background-color: lightseagreen;
    border-radius: 9px;
    margin-left: 5px;
    height: 25px;

}
.center_div_button:hover
{
     background-color:lightseagreen;
}
.center_div_list
{
      list-style-type: none;
}
.Todo_list_name_item
{
    font-size: 20px;
    margin-left: 10px;

}
.Todo_list_name
{
    font-size: 20px;

}
.Todo_list_name:hover
{
    color:lightseagreen;
}

.Todo_list_class_main
{
    margin-left: 30px;
}
